* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

nav {
  padding: 20px;
  background: #3d0a0a;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: #edefee;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 20px;
}

.Title {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Times New Roman', Times, serif;
}